body {
    background-color: #cae4c5;
    text-align: center;
    color: #254222;

}

h2 {

    position: absolute;
    width: 98%;

}

.perguntas {

    position: relative;
    top: 65px;
    text-align: center;
    margin: 0 auto;
    width: 90%;
    box-align: center;
    display: flex;
    justify-content: center;
    background-color: transparent;
    perspective: 1000px;
    flex-wrap: wrap;

}
  
  .pergunta {
    height: 310px;
    width: 32%;
    perspective: 1000px;
    border-radius: 5px;
    transition: 0.7s;
    padding: 5px;

  }
  
  .cartao {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  
  .pergunta:hover .cartao {
    
    transform: rotateY(180deg);

  }
  
  .frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .frente {
    background-color: #99cc66;
    border-radius: 3%;

  }
  
  .tras {
    background-color: #ece2b1;
    color: black;
    transform: rotateY(180deg);
    border-radius: 3%;

  }

  p.title{

    font-size: 18px;

  }

  .text-p{

    font-size: 17px;

  }

  .text-g{

    font-size: 13px;

  }

  .text{

    font-size: 15px;

  }

 
 .flexbox {
  box-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3px;
  margin-top: 4px;
  flex-wrap: wrap;
}

/* Container */
.flex-item { 
  box-sizing: border-box;
  position: relative;
  width: 45%;
  border-radius: 4px;
  display: block;
  cursor: pointer;
  font-size: 16px;
}

.flex-item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.flex-item:hover input ~ .checkmark {
  background-color: #ccc;
}

.flex-item input:checked ~ .checkmark {
  background-color: #00F8A0;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.flex-item input:checked ~ .checkmark:after {
  display: block;
}

.flex-item .checkmark:after {
  top: 9px;
 left: 9px;
 width: 8px;
 height: 8px;
 border-radius: 50%;
 background: rgb(255, 255, 255);
}

button{

  position: relative;
  margin: 45px;
  padding: 5px;
  border-radius: 5px;
  background-color:  #254222;
  color:  #99cc66;

}



/* 



.tras {
    background-color: #555;
  color: white;
  transform: rotateY(180deg);
}

.per:hover .tras {
    transform: rotateY(180deg);
  }

  .frente, .tras {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  

#per1 {

    transform-origin: left top;

}

#per2 {

    transform-origin: left;

}

#per3 {

    transform-origin: left bottom;

}

#per4 {

    transform-origin: right top;

}

#per5 {

    transform-origin: right;

}

#per6 {

    transform-origin: right bottom;

} */


/*.flexbox-vertical {
    box-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    padding: 3px;
    margin-top: 4px;
}
*/

/*
.content {

    text-align: center;
    margin: 0 auto;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(225, 225, 225);
    border: rgb(230, 230, 230) solid;
    padding: 4px;
    box-shadow: rgb(200, 200, 200) 0px 0px 6px;

} */
